html { height: 100%; }
body { min-height: 100%; }

.grid {
  display: grid;
}

.wrapper{

}

.navbar {
  grid-template-columns: 20rem 1fr 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 70% 20%;
  background-color: gray;
  height: 20rem;
}

.landing__description {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.landing__title {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__buttons {
  grid-column: 1/2;
  grid-row:3/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
